* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  max-width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid turquoise;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
  gap: 5px;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid turquoise;
  cursor: pointer;
}

.page__current {
  border: 2px solid darkslateblue;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 800px;
  display: flex;

  align-items: center;
  padding: 0 15px;
  background: lightgray;
}

.navbar__links {
  margin-left: auto;
  display: flex;
  gap: 5px;
}

.post__page {
  margin: 20px auto;
  width: 800px;
}
